# ==============================================================================
# Production Config
# ==============================================================================
GITHUB_REPOSITORY_OWNER=eymensezen
DOMAIN_NAME=keyofhistory.com
